# History files
.Rproj.user
.Rhistory
# Session Data files
.RData
.RDatatmp
# User-specific files
.Ruserdata
# MacOS files
.DS_Store
# Fishboost files
fb_data/H*
fb_data/*xlsx
Hinv
Hinv_drop71
datasets/*
gfx
meta
out
r0_results
.positai
